import java.util.Scanner;
public class {

    public static void main(String[] args) {
        Scanner in = new Scanner (System.in);
        System.out.print("Enter number: ");
        int num = in.nextInt();
        int newNum = 0;
        while(num>0)
        {
            newNum = newNum * 10 + num % 10;
            num = num /10;
        }
        System.out.println("This is the reverse number: " + newNum);
        in.close();
    }
}
